* {
    /*m0+p0*/
}

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 1280px;
    margin: 0 auto;
    /* background-color: yellow; */
}


/* --- Header --- */

.logo {
    display: flex;
    align-items: flex-end;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #0C1927;
    margin-top: 61px;
    margin-bottom: 38px;
    width: 334px;
    height: 79px;
    /* background-color:chartreuse; */
}

.logo:hover {
    text-decoration: underline;
    text-decoration-color: #4BCAFF;
}

.letter {
    color: #4BCAFF;
}

.main-menu {
    height: 72px;
    display: flex;
    justify-content: center;
    /* padding-left: 170px; */
    /* border: 4px double black; */
    background-color: #35444F;
}

.main-menu-item {
    font-size: 24px;
    line-height: 28px;
    padding: 22.5px 38px 22.5px 38px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
    /* border: 4px double black;
    background-color: yellow; */
}

.main-menu-item:hover {
    background-color: #222F3A;
    text-decoration: underline;
}

.main-menu-link {
    text-decoration: none;
    color: #FFFFFF;
    text-decoration-color: #4BCAFF;
    /* background-color: yellow; */
}


/* --- Left Menu --- */

.main-container {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.aside-menu {
    width: 344px;
    height: 399px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000000;
    /* background-color: yellow; */
    /* border: 4px double black; */
}

.aside-menu-item {
    padding-left: 44px;
    padding-top: 26px;
    padding-bottom: 26px;
    /* border: 4px double black; */
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 64px;
    text-decoration: underline;
    /* transform: scale(1.2);
	transition: all 1s ease-out; */
}

.aside-menu-link {
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    color: #0C1927;
    text-decoration-color: #4BCAFF;
}


/* --- Top Image --- */

.title-photo {
    margin-top: 50px;
    margin-left: 47px;
    padding: 75px 268px 73px 297px;
    border: 1px solid #000000;
    /* background-color: yellow; */
}


/* --- Text Block --- */

.text-block {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 37px 0 0 50px;
    /* background-color: yellow; */
}

.text-block-desc {
    /* background-color: cyan; */
}


/* --- Footer --- */

.footer-menu {
    margin-top: 54px;
    margin-bottom: 30px;
    height: 69px;
    display: flex;
    justify-content: flex-start;
    /* border: 4px double black; */
    background-color: #B4B7B9;
}

.footer-menu-item {
    font-size: 28px;
    line-height: 28px;
    padding: 20.5px 0 20.5px 40px;
}

.footer-menu-item:hover {
    text-decoration: underline;
    color: #4BCAFF;
    transform: scale(1.2);
    transition: all 1s ease-out;
}

.footer-menu-link {
    text-decoration: none;
    color: #0C1927;
    text-decoration-color: #4BCAFF;
    /* background-color: yellow; */
}

.footer-menu-link:hover {
    color: #4BCAFF;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    padding-top: 22.5px;
    padding-left: 152px;
    /* background-color: red; */
}